.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #ffffff;

    display: none;
    flex-direction: column;
    padding: 20px;
    justify-content: space-between;
    align-items: center;

    .logo:hover {
        animation: pulse-black .4s infinite;
    }

    @keyframes pulse-black {
        0% {
        transform: scale(0.90);
        text-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
        }
        
        70% {
        transform: scale(1);
        text-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
        }
        
        100% {
        transform: scale(0.90);
        text-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        }
    }

    .social-links {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .social-btn {
            background-color: transparent;
            transition: all 0.2s ease-in;

            &:hover {
                transform: scale(1.2);
            }
        }
    }
}

// Small devices (landscape phones, 576px and up)
// @media (min-width: 576px) {
//     .sidebar {
//         display: none;
//     }
// }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .sidebar {
        width: 100px;
        display: flex;
        padding: 40px 20px;

        .social-links {
            margin-bottom: 60px;

            .social-btn {
                margin-bottom: 20px;
            }
        }
    }

    
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .sidebar {
        width: 140px;

        .social-links {
            margin-bottom: 0px;

            .social-btn {
                margin-bottom: 20px;
            }
        }
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    .sidebar {
        width: 160px;
    }
}

.navigation-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 60px;
    width: 60px;
    z-index: 100;
    background-color: #333333;
    overflow: hidden;

    .navbar-icon {
        height: 60px;
        width: 60px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        .bar {
            position: absolute;
            margin: 0;
            padding: 0;
            background-color: #ffffff;
            height: 3px;
            width: 40px;
        }

        .bar:first-child {
            transform: translateY(-10px);
        }
        .bar:nth-child(2) {
            transform: translateY(0);
        }
        .bar:last-child {
            transform: translateY(10px);
        }

    }

    .navigation {
        display: flex;
        flex-direction: column;
        height: calc(100% - 60px);
        position: absolute;
        top: 0;
        left: 0;
        margin: 60px 0 0 0;
        width: 100%;
        justify-content: space-between;
        .navigation-links {
            margin: 0;
            .nav-link {
                font-size: 42px;
                letter-spacing: 7.5%;
                text-align: center;

                a {
                    color: #ffffff;
                }
            }
        }
    }

    .bottom {
        .social-links {
            display: flex;
            justify-content: space-around;
            margin: 30px 25px;

            button {
                background-color: transparent;
            }
        }

        .app-links {
            color: #ffffff;

            a {
                margin: 20px 0;
                display: block;
                text-align: center;
            }
        }
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .navigation-container {
        top: 100px;
        left: 70px;

        .navigation {
            .bottom .social-links {
                display: none;
            }
        }

    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .navigation-container {
        top: 100px;
        left: 110px;
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    .navigation-container {
        left: 130px;
    }
}

